.bossBox{
    border: 1px solid var(--dof-color1);
    padding: 6px;
}
.headerRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dof-color3);
    h3{
        padding: 0;
        margin: 0;
        font-size: 1.6rem;
    }
    
}
.subTitle{
    font-size: 1.2rem;
}

.route{
    font-weight: bold;
    margin-right: 12px;
}
