.characterOverlay {
  --data-size: 45px;
  --row-label-size: 69px;
  position: fixed;
  max-height: 80vh;
  max-width: 80vw;
  width: 700px;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--dof-bg-color);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 18px 18px 28px;
  font-size: 1.4rem;
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
}

.content {
  display: flex;
  gap: 6px;
}

.dataContent {
  padding: 12px;
  overflow: auto;
  box-sizing: content-box;
  min-width: calc(8 * var(--data-size) + var(--row-label-size));
}

.controlButton {
  path {
    fill: var(--dof-button-icon-color);
  }
  &:hover {
    path {
      fill: var(--dof-color1);
    }
  }
}

.blurb {
  margin-top: 12px;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .dataContent {
    min-width: unset;
  }
}
@media screen and (max-width: 600px) {
  .characterOverlay {
    --data-size: 35px;
    --row-header-size: 45px;
  }
  .characterOverlay {
    max-width: 95vw;
    max-height: 95vh;
  }
}

.footer {
  border-top: 1px solid var(--dof-color3);
  padding-top: 12px;
  display: flex;
  justify-content: flex-end;
  label {
    font-size: 0.8em;
  }
}
