$blossom-plus-button: var(--lb-averages-blossom-plus-button, var(--dof-bg-color, #fff));

.profile,
.profileData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 180px;
  padding: 12px;

  h2 {
    margin-top: 12px;
    font-size: 2.4rem;
    color: var(--dof-color-header);
  }
}

.profileData {
  text-align: center;
}

.classText {
  color: var(--dof-color-subheader);
  font-weight: 700;
  text-transform: capitalize;
}

.portraitWrapper{
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  .affinity{
    position: absolute;
    height: 16px;
    width: 16px;
    background-size: 16px;
    top: 0;
    right: 0;
  }
}

.altNames {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 4px;
  color: var(--dof-color1);
  gap: 6px;
  font-size: 0.9em;
  li {
    display: flex;
    align-items: center;
  }
}

.tabs {
  display: flex;
  border-bottom: 2px solid var(--dof-header-border);
  list-style: none;
  padding: 6px;
  gap: 18px;
  button {
    color: var(--dof-color4);
    &:hover {
      color: var(--dof-color1);
    }
  }
}

.selectedTab {
  font-weight: 700;
}

.blurb {
  margin-top: 12px;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

.blossomDewIcon{
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  order: 2;
  .plus {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: $blossom-plus-button;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    opacity: 0;
    transition: opacity 0.2s;
  }
  &:hover {
    .plus {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .profile {
    width: 100%;
    flex-direction: row;
    gap: 12px;
  }
}
@media screen and (max-width: 600px) {
  .subtitle {
    font-size: 1.3rem;
  }
}

