.characterDetails {
  position: fixed;
  max-height: 80vh;
  max-width: 80vw;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 18px 18px 28px;
  font-size: 1.4rem;
  overflow: auto;
}

.statTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid var(--dof-color2);
  thead {
    font-weight: 600;
  }
  th,
  td {
    padding: 4px;
    border: 1px solid var(--dof-color2);
  }
  th {
    max-width: 64px;
  }
  thead{
    color: var(--dof-color4);
    border-bottom: 2px solid var(--dof-color2);
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  gap: 6px;
}

// .data {
// }

.dataContent {
  padding: 12px;
  overflow: auto;
}

.profile,
.profileData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileData {
  text-align: center;
}

.profile {
  width: 160px;
  padding: 12px;

  h2 {
    margin-top: 12px;
    font-size: 2.4rem;
  }
}

.altNames {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 4px;
  color: var(--dof-color1);
  gap: 6px;
  li {
    display: flex;
    align-items: center;
  }
}
.portraitWrapper {
  width: fit-content;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0); // fsr the portraits actually render properly with this? i dont get it but ok
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.subtitle {
  font-size: 1.5rem;
}
.sub {
  font-size: 0.8em;
}

.tabs {
  border-bottom: 2px solid var(--dof-header-border);
  list-style: none;
  padding: 6px;
  button {
    color: var(--dof-color4);
    &:hover {
      color: var(--dof-color1);
    }
  }
}

.levelInputs{
  display: flex;
  margin-bottom: 12px;
  gap: 6px;
}

.levelInputGroup{
  width: 64px;
  label{
    display: block;
    font-size: 0.8em;
  }

  input{
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid var(--dof-color1);
    height: 30px;
    &:focus{
      background-color: rgba(0,0,0,0.15);
      outline: none;
      border-bottom: 2px solid var(--dof-color2);
    }
  }

}
.blurb {
  margin-top: 12px;
  font-style: italic;
  text-align: center;
}

.avgs {
  background-color: var(--dof-color6);
  color: var(--dof-color2);
}

.caps {
  background-color: var(--dof-color2);
  color: white;
}

.capped {
  font-weight: 600;
  background-color: var(--dof-color1);
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .profile {
    width: 100%;
    flex-direction: row;
    gap: 12px;
  }
}
@media screen and (max-width: 500px) {
  .statTable {
    font-size: 0.8em;
  }
  .characterDetails {
    max-width: 95vw;
    max-height: 95vh;
  }
  .subtitle {
    font-size: 1.3rem;
  }
}
