$weapons: (
    "sword",
    "lance",
    "axe",
    "bow",
    "anima",
    "light",
    "dark",
    "staff"
);

$affinities: (
    "fire",
    "ice",
    "light",
    "thunder",
    "wind",
    "anima",
    "dark"
);

@mixin icon-image($url, $size: 24px) {
    display: inline-block;
    height: $size;
    width: $size;
    background: url($url) no-repeat center;
    background-size: $size;
}

.icon-blossom-dew{
    @include icon-image('/icons/blossom_dew.png');
}

.icon-master-seal{
    @include icon-image('/icons/master_seal.png');
}

@each $weapon in $weapons{
    .icon-wpn-#{$weapon}{
        @include icon-image('/icons/wpn_#{$weapon}.png');
    }
}

@each $affinity in $affinities{
    .icon-affinity-#{$affinity}{
        @include icon-image('/icons/affinity_#{$affinity}.png');
    }
}