$img-width: 240px;
$max-width: $img-width * 4;
.banner {
  position: sticky;
  top: 64px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    var(--dof-bg-color) 0%,
    var(--dof-bg-color) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  @media screen and (max-width: 768px) {
    position: static;
  }
  @media screen and (max-height: 500px) {
    position: static;
  }
  h1 {
    text-align: center;
    font-size: 7.2rem;
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: content-box;
  padding: 0 var(--dof-content-padding) var(--dof-content-padding);
  max-width: $max-width;
  margin: 0 auto;
}
.flavorText {
  padding: var(--dof-content-padding);
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-style: italic;
  text-align: center;
  font-size: 1.4rem;
}

.links {
  text-align: center;
  margin-bottom: 36px;
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.preview {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, $img-width);
  justify-content: center;
  margin-top: 24px;
  gap: 0;
  img{
    margin: 0;
  }
}

.video{
  display: block;
  width: 560px;
  margin: 0 auto 24px;
  max-width: 100%;
  aspect-ratio: 560 / 315;
}

.comingSoon{
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}