$glow: var(--dof-support-glow);
// .supports {
//   list-style: none;
//   padding: 0;
//   li {
//     display: flex;
//     margin-bottom: 12px;
//   }
// }

.supportItem{
  display: flex;
  margin-right: 12px;
}

.affinity {
  height: 16px;
  width: 16px;
  background-size: 16px;
  margin-right: 12px;
}

.paired {
  position: relative;
  &::before {
    position: absolute;
    z-index: 2;
    content: '';
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: $glow;
    box-shadow: 0 0 7px 5px $glow;
    mix-blend-mode: screen;
  }
}
